body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(63, 53, 53);
    padding: 20 px;
    margin: 0 auto;

}
h1{
    text-align: center;
    color: rgb(94, 14, 14);
}

a{
    color: violet;
    display: inline-block;
    margin: 10 px;

}

ul{
    list-style-type: disc;
}